@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<BlazoredToasts/>
<NavMenu />
<div class="body-content">
    @Body
</div>